<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 shim for IE8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

	<link href="__STATIC__/admin/new/simpleboot/themes/flat/theme.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/new/simpleboot/css/simplebootadmin.css" rel="stylesheet">
    <link href="__STATIC__/admin/new/js/artDialog/skins/default.css" rel="stylesheet" />
    <link href="__STATIC__/admin/new/simpleboot/font-awesome/4.2.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
    <style>
		.length_3{width: 180px;}
	</style>
	<!--[if IE 7]>
	<link rel="stylesheet" href="__STATIC__/admin/new/simpleboot/font-awesome/4.2.0/css/font-awesome-ie7.min.css">
	<![endif]-->
<script type="text/javascript">
//全局变量
var GV = {
    DIMAUB: "__ROOT__/",
    JS_ROOT: "Static/admin/new/js/",
    TOKEN: ""
};
</script>
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__STATIC__/admin/new/js/jquery.js"></script>
    <script src="__STATIC__/admin/new/js/wind.js"></script>
    <script src="__STATIC__/admin/new/simpleboot/bootstrap/js/bootstrap.min.js"></script>
<if condition="APP_DEBUG">
	<style>
		#think_page_trace_open{
			z-index:9999;
		}
	</style>

</if>
	</head>
<body class="J_scroll_fixed">
<div class="wrap J_check_wrap">
  <ul class="nav nav-tabs">
     <li><a href="{:U('System/role')}">角色管理</a></li>
     <li class="active"><a href="{:U('System/role_edit',array('id'=>$data['id']))}">修改角色</a></li>
  </ul>
  <form class="form-horizontal J_ajaxForm" action="{:U('System/role_edit_post',array('id'=>$data['id']))}" method="post" id="myform">
  <div class="table_full">
      <table width="100%" cellpadding="2" cellspacing="2">
        <tr>
          <th width="180">角色名称</th>
          <td><input type="text" name="rname" value="{$data.rname}" class="input" id="rolename"></input><span class="must_red">*</span></td>
        </tr>
        <tr>
          <th>角色描述</th>
          <td><textarea name="remark" rows="2" cols="20" id="remark" class="inputtext" style="height:100px;width:500px;">{$data.remark}</textarea></td>
        </tr>
        <tr>
          <th>是否启用</th>
          <td>
		  <php>
			$active_true_checked=($data['status'] ==1)?"checked":"";
			$active_false_checked=($data['status'] ==0)?"checked":"";
		  </php>
          	<label class="radio inline" for="active_true">
            		<input type="radio" name="status" value="1" {$active_true_checked} id="active_true"/>开启
            </label>
            <label class="radio inline" for="active_false">
            		<input type="radio" name="status" value="0" {$active_false_checked} id="active_false">禁止
            </label>
          </td>
        </tr>
      </table>
  </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn_submit  J_ajax_submit_btn">提交</button>
        <a class="btn" href="__URL__">返回</a>
    </div>
    </form>
</div>

</body>
</html>