<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?4e365af26d5b6519ebbac39e800c4b5f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  </head>

  <body>
    <div class="container">
    <div class="row">
                      <div class="col-md-12 days-main">
              <h2>2015年07月22日 (echo)</h2>
              <table class="table table-bordered">
                <caption>案例主体：hh <span style="float:right;">目标：hha</span></caption>
                <thead><tr>
                    <th>时间</th>
                    <th>行动（做、做到）</th>
                    <th>效果</th>
                    <th>启发</th>
                </tr></thead>
                <tbody>
                                    <tr>
                    <td>02:00<br>～<br>03:00</td>
                    <td>dsa</td>
                    <td>ds</td>
                    <td>d</td>
                  </tr>
                                    <tr>
                    <td>03:00<br>～<br>02:00</td>
                    <td>dd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                  </tr>
                                  </tbody>
                
              </table>
              <p>总结：</p>
            <hr>
          </div>
    </div>
      <footer>
        <p>&copy; 2015 北京方兴未艾科技有限公司</p>
      </footer>
    </div> <!-- /container -->